<h2>Delete comment</h2>

 <h3>Title: {{comment.article.title}}</h3>
 <p>Content: {{comment.article.content}}</p>
 <p>Date: {{comment.article.date}}</p>
 <p>Author: {{comment.article.author.username}}</p>
 
<form method="POST">
    <div class="form-group">
        <label for="comment">Content:</label>
        <textarea name="comment" rows="10" disabled >{{comment.comment}}</textarea>
    </div>
    <input type="submit" value="Delete" />
</form>
